# Photon mapping dependencies

git /extensions/PhotonMapping			https://github.com/OpenEngineDK/extensions-PhotonMapping.git
git-dev /extensions/PhotonMapping		git@github.com:OpenEngineDK/extensions-PhotonMapping.git

git /extensions/CUDA				https://github.com/OpenEngineDK/extensions-CUDA.git
git-dev /extensions/CUDA			git@github.com:OpenEngineDK/extensions-CUDA.git