# Photon mapping dependencies

darcs /extensions/PhotonMapping			http://openengine.dk/code/extensions/PhotonMapping
git-dev /extensions/PhotonMapping		git@github.com:OpenEngineDK/extensions-PhotonMapping.git

darcs /extensions/CUDA				http://openengine.dk/code/extensions/CUDA
git-dev /extensions/CUDA			git@github.com:OpenEngineDK/extensions-CUDA.git